<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aleks.allnews">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/allnews"
        android:label="All News"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="All News"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Category.Business"
            android:label="Bisnis" />
        <activity
            android:name=".Category.Entertainment"
            android:label="Hiburan" />
        <activity
            android:name=".Category.Health"
            android:label="Kesehatan" />
        <activity
            android:name=".Category.Science"
            android:label="Sains" />
        <activity
            android:name=".Category.Sports"
            android:label="Olahraga" />
        <activity
            android:name=".Category.Technology"
            android:label="Teknologi" />
        <activity
            android:name=".DetailActivity"
            android:label="Detail Berita" />
        <activity
            android:name=".About"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopUp" />
    </application>

</manifest>